/* Set the size of the div element that contains the map */
#map {
  height: 100%;  /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
 }

#addmarkerBtn{
  background-image: url(addmarker.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;

  position: absolute;
  right: 10;
  top: 100px;
  width: 100px;
}


html,body{
  height: 100%;
  margin: 0;
  padding: 1;
}
